body {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

.element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  margin-bottom: 8px;
  padding: 16px;
  border-radius: 5px;
}

.copy-buttons {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.nbsp {
  background-color: gray;
}

.narrow-no-break-space {
  background-color: red;
}

.demi-cadratin-space {
  background-color: orange;
}